@using Module.Common.Admin.Admin.Models
@using Module.Common.WebUI.Extensions
@{
    ViewData["Title"] = "Список бэкапов";
    var navbarButtons = new List<MenuButtonsViewModel> {
        new("Назад", "Execute", classes: "btn-main-info")
    };
    if (UserSession.IsRoot) {
        navbarButtons.Insert(0, new MenuButtonsViewModel("Удалить устаревшие", "DeleteBackups", routeValues: new Dictionary<string, string> { { "skipTopCount", "5" } }, classes: "btn-main-danger"));
        navbarButtons.Insert(0, new MenuButtonsViewModel("Удалить все", "DeleteBackups", classes: "btn-main-danger"));
    }
    ViewData["NavbarButtons"] = navbarButtons;
}
<div class="row">
    <div class="col pb-4">
        <h4 class="h4 font-weight-bold">@ViewData["Title"]</h4>
    </div>
</div>
<div class="col-12 table-responsive">
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Дата создания</th>
                <th>Действия</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="/app-admin/js/backup-import.js" asp-append-version="true" type="text/javascript"></script>
}