@using Module.Common.Admin.Admin.Models
@using Module.Common.WebUI.Extensions
@{
    ViewData["Title"] = "Список импортов";
    ViewData["NavbarButtons"] = new List<MenuButtonsViewModel> {
        new("Назад", "Execute", classes: "btn-main-info")
    };
}
<div class="row">
    <div class="col pb-4">
        <h4 class="h4 font-weight-bold">@ViewData["Title"]</h4>
    </div>
</div>
<input value="@UserSession.IsRoot" id="isRoot" hidden="" />
<div class="col-12 table-responsive">
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Порядок</th>
                <th>Дата создания</th>
                <th>Ключ</th>
                <th>Загрузил</th>
                <th>Действия</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="/app-admin/js/imports-list.js" asp-append-version="true" type="text/javascript"></script>
}