@using Module.Common.Admin.Admin.Models
@model Module.Catalogs.Admin.Admin.Models.CategoryViewModel
@{
    ViewData["Title"] = "Категории - Новая запись";
    ViewData["NavbarButtons"] = new List<MenuButtonsViewModel> {
        new MenuButtonsViewModel("Назад к списку", "Index", classes: "btn-main-info")
    };
}

<div class="main-container">
    <div class="row py-3">
        <div class="col">
            <h4 class="font-weight-bold">Новая запись</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form asp-action="Create" enctype="multipart/form-data">
                <div class="form-row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-auto">
                        <div class="image-upload">
                            <label asp-for="Image">
                                <picture class="img-fluid img-thumbnail">
                                    <source srcset="/common/img/nophoto.png?format=webp" type="image/webp">
                                    <img srcset="/common/img/nophoto.png?width=370" class="img-fluid img-thumbnail" width="370" alt="Превью категории" />
                                </picture>
                            </label>
                            <input asp-for="Image" type="file" data-img-uploader="img"/>
                        </div>
                        <div>
                            <button type="button" class="btn btn-main-primary" data-img-uploader-btn>Загрузить новое</button>
                        </div>
                    </div>
                    <div class="col px-3">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control form-control-sm" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId1C" class="control-label"></label>
                            <select asp-for="CategoryId1C" asp-items="ViewBag.AllCetgoriesFrom1C" class="form-control form-control-sm"></select>
                            <span asp-validation-for="CategoryId1C" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control form-control-sm html-editor" cols="40" rows="5"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-main-primary">Подтвердить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_WysiwygScriptsPartial");
    }
    <script src="/common-admin/js/ImgUploader.js" asp-append-version="true" type="text/javascript"></script>
}