@model IEnumerable<Module.Catalogs.Business.Models.CatalogDTO>
<ul class="dropdown-menu py-xl-0">
    @foreach (var item in Model) {
        <li class="mb-3">
            <a class="link-base link-light main-font h3 d-block w-100" asp-area="" asp-controller="Catalog" asp-action="Index" asp-route-catalogUri="@item.Uri">
                @item.Name
            </a>
        </li>
    }
</ul>