@model VideoGalleryViewModel
@{
    ViewData["Title"] = "Видео галерея - Изменить запись";
    ViewData["NavbarButtons"] = new List<MenuButtonsViewModel> {
        new("Назад к списку", "Index", classes: "btn-main-info")
    };
    var photoPath = string.IsNullOrEmpty(Model.PreviewPath) ? "/common/img/nophoto.png?width=370" : $"{Model.PreviewPath}?width=370";
}

<div class="main-container">
    <div class="row py-3">
        <div class="col">
            <h4 class="font-weight-bold">@Model.Title</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div class="form-row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Order" />
                    <input type="hidden" asp-for="PreviewPath" />
                    <div class="col-auto">
                        <div class="image-upload">
                            <label asp-for="Preview">
                                <picture class="img-fluid img-thumbnail">
                                    <source srcset="@photoPath&format=webp" type="image/webp">
                                    <img srcset="@photoPath" class="img-fluid img-thumbnail" width="370" alt="Превью видеогалереи" />
                                </picture>
                            </label>
                            <input asp-for="Preview" type="file" data-img-uploader="img" />
                            <span asp-validation-for="Preview" class="text-danger"></span>
                        </div>
                        <div>
                            <button type="button" class="btn btn-main-danger">Удалить</button>
                            <button type="button" class="btn btn-main-primary" data-img-uploader-btn>Загрузить новое</button>
                        </div>
                    </div>
                    <div class="col px-3">
                        <div class="form-group mb-0">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" asp-for="IsVisible">
                                <label class="custom-control-label" asp-for="IsVisible"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" asp-for="IsOpen">
                                <label class="custom-control-label" asp-for="IsOpen"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control form-control-sm" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control form-control-sm html-editor" rows="5" cols="40"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Slug" class="control-label"></label>
                            <input asp-for="Slug" class="form-control form-control-sm" />
                            <span asp-validation-for="Slug" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VideoPath" class="control-label"></label>
                            <input asp-for="VideoPath" class="form-control form-control-sm" />
                            <span asp-validation-for="VideoPath" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-main-primary">Подтвердить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_WysiwygScriptsPartial");
    }
    <script src="/common-admin/js/ImgUploader.js" asp-append-version="true" type="text/javascript"></script>
}