@model Module.Media.Admin.Admin.Models.DynamicPageViewModel
@{
    ViewData["Title"] = "Контент статичных страниц - Изменить запись";
    ViewData["NavbarButtons"] = new List<MenuButtonsViewModel> {
        new("Назад к списку", "Index", classes: "btn-main-info")
    };
    var photoPath = string.IsNullOrEmpty(Model.ImagePath) ? "/common/img/nophoto.png?width=370" : $"{Model.ImagePath}?width=370";
}
<div class="main-container">
    <div class="row py-3">
        <div class="col">
            <h4 class="font-weight-bold">@Model.Title</h4>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
      
        <div class="col">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-auto">
                        <div class="image-upload">
                            <label asp-for="Image">
                                <picture class="img-fluid img-thumbnail">
                                    <source srcset="@photoPath&format=webp" type="image/webp">
                                    <img srcset="@photoPath" class="img-fluid img-thumbnail" width="370" alt="Изображение" />
                                </picture>
                            </label>
                            <input asp-for="Image" type="file" data-img-uploader="img" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <div>
                            <button type="button" class="btn btn-main-danger">Удалить</button>
                            <button type="button" class="btn btn-main-primary" data-img-uploader-btn>Загрузить новое</button>
                        </div>
                    </div>
                    <div class="col px-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id"/>
                        <input type="hidden" asp-for="Order"/>
                        <input type="hidden" asp-for="TitleIconPath"/>
                        <input type="hidden" asp-for="ImagePath"/>
                        <label>Параметры</label>
                        <div class="form-group mb-0">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" asp-for="IsOpen">
                                <label class="custom-control-label" asp-for="IsOpen"></label>
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" asp-for="IsSinglePage">
                                <label class="custom-control-label" asp-for="IsSinglePage"></label>
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" asp-for="IsVisibleInMenu">
                                <label class="custom-control-label" asp-for="IsVisibleInMenu"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="URL" class="control-label"></label>
                            <input asp-for="URL" class="form-control form-control-sm"/>
                            <span asp-validation-for="URL" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-11">
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control form-control-sm"/>
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-md-1">
                                <div class="form-group d-flex justify-content-center">
                                    <div class="image-upload">
                                        <label asp-for="TitleIcon">
                                            @if (string.IsNullOrEmpty(Model.TitleIconPath)) {
                                                <picture class="img-fluid img-thumbnail">
                                                    <source srcset="/common/img/nophoto.png?width=250&format=webp" type="image/webp">
                                                    <img srcset="/common/img/nophoto.png?width=250" class="img-fluid img-thumbnail" width="60" height="60" title="Иконка заглавия" />
                                                </picture>
                                            } else {
                                                <picture class="img-fluid img-thumbnail">
                                                    <source srcset="@Model.TitleIconPath?width=60&height=60&format=webp" type="image/webp">
                                                    <img srcset="@Model.TitleIconPath" width="60" height="60" class="img-fluid img-thumbnail" />
                                                </picture>
                                            }
                                        </label>
                                        <input asp-for="TitleIcon" type="file" data-img-uploader="img"/>
                                        <span asp-validation-for="TitleIcon" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Layout" class="control-label"></label>
                            <select asp-for="Layout" asp-items="Model.Layouts" class="selectpicker form-control show-menu-arrow" data-size="10" data-live-search="true" data-actions-box="true">
                            </select>
                            <span asp-validation-for="Layout" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Body" class="control-label"></label>
                            <textarea asp-for="Body" class="form-control html-editor" rows="8" cols="15"></textarea>
                            <span asp-validation-for="Body" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MetaTitle" class="control-label"></label>
                            <input asp-for="MetaTitle" class="form-control form-control-sm"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="MetaDescription" class="control-label"></label>
                            <textarea asp-for="MetaDescription" class="form-control" rows="4" cols="15"></textarea>
                        </div>
                        <div class="form-group">
                            <label asp-for="MetaKeywords" class="control-label"></label>
                            <input asp-for="MetaKeywords" class="form-control form-control-sm"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-main-primary">Подтвердить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Styles {
    <link rel="stylesheet" href="/media/css/dynamic-pages.css" />
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_WysiwygScriptsPartial");
    }
    <script src="/common-admin/js/ImgUploader.js" asp-append-version="true" type="text/javascript"></script>
}