<div class="d-none">
    <div class="social-networks-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-4 d-flex flex-row align-items-center justify-content-center justify-content-md-start">
                    <div>
                        <div class="py-2"><a href="https://-" class="link-base link-dark d-inline-block"><span class="iconify icon-font-50px" data-inline="false" data-icon="bx:bxl-whatsapp"></span> <span class="header-font h4 px-3 align-middle-webkit">WhatsApp</span></a></div>
                        <div class="py-2"><a href="https://-" class="link-base link-dark d-inline-block"><span class="iconify icon-font-50px" data-inline="false" data-icon="bx:bxl-telegram"></span> <span class="header-font h4 px-3 align-middle-webkit">Telegram</span></a></div>
                        <div class="py-2"><a href="https://-" class="link-base link-dark d-inline-block"><span class="iconify icon-font-50px" data-inline="false" data-icon="mdi:instagram"></span> <span class="header-font h4 px-3 align-middle-webkit">Instagram</span></a></div>
                        <div class="py-2"><a href="https://-" class="link-base link-dark d-inline-block"><span class="iconify icon-font-50px" data-inline="false" data-icon="carbon:logo-youtube"></span> <span class="header-font h4 px-3 align-middle-webkit">Youtube</span></a></div>
                        <div class="py-2"><a href="https://-" class="link-base link-dark d-inline-block"><span class="iconify icon-font-50px" data-inline="false" data-icon="ant-design:facebook-filled"></span> <span class="header-font h4 px-3 align-middle-webkit">Facebook</span></a></div>
                        <div class="py-2"><a href="https://-" class="link-base link-dark d-inline-block"><span class="iconify icon-font-50px" data-inline="false" data-icon="bx:bxl-vk"></span> <span class="header-font h4 px-3 align-middle-webkit">VK</span></a></div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="position-relative text-right">
                        <picture class="img-max-width">
                            <source srcset="/media/img/youtube-phone.png?format=webp" type="image/webp">
                            <img srcset="/media/img/youtube-phone.png" class="img-max-width" alt="Youtube" />
                        </picture>
                        <div class="socials-image">
                            <div class="header-font h5">Узнавайте о новинках первыми в нашем YouTube</div>
                            <div class="pt-2"><a href="https://-" class="btn btn-basic btn-main-gradient text-uppercase">Подписаться</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="person-card-wrapper">
        <div class="contacts-card my-2 mx-0 mx-md-4 rounded-2 allow-empty">
            <div class="contacts-card-background bg-main-light rounded-2"></div>
            <div class="row p-0 py-4 m-0">
                <div class="col-12 col-md-6 p-3 main-font pl-md-5">
                    <div class="header title bold h3">Должность</div>
                    <div class="name">ФИО</div>
                    <div class=" h3 mb-0 mt-2">Телефон:</div>
                    <div>Номер телефона</div>
                    <div>Номер телефона</div>
                    <div class="py-2 text-center">
                        <span class="iconify icon-font-35px text-white" data-inline="false" data-icon="bx:bxl-whatsapp"></span> WhatsApp
                        <span class="iconify icon-font-35px text-white ml-3" data-inline="false" data-icon="bx:bxl-telegram"></span> Telegram
                    </div>
                    <div class="mt-2 mb-3 header-font text-center">
                        <a class="btn btn-basic btn-main dynamic-height h3" data-toggle="ajax-modal" data-target="#feedbackModal">
                            Написать
                        </a>
                    </div>
                    <div class="pb-1">
                        <div>Электронная почта отдела продаж:</div>
                        <div>email</div>
                    </div>
                    <div class="pb-1">
                        <div>По вопросам рекламы и коммерции:</div>
                        <div>email</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 p-0">
                    <div class="photo-wrapper bg-gradient rounded-circle p-1 m-auto">
                        <picture class="img-max-width rounded-circle">
                            <source srcset="/common/img/nophoto.png?format=webp" type="image/webp">
                            <img srcsest="/common/img/nophoto.png" class="img-max-width rounded-circle" width="378" height="378" alt="Фото" />
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="partners-map-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-3 d-flex flex-row align-items-center">
                    <div class="main-font h5">
                        Текст
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <picture class="img-max-width">
                        <source srcset="/common/img/russia-map.png?width=1150&format=webp" type="image/webp">
                        <img srcset="/common/img/russia-map.png?width=1150" class="img-max-width" alt="Карта РФ" />
                    </picture>
                </div>
            </div>
        </div>
    </div>
    <div class="contacts-container-wrapper">
        <div class="container-fluid p-2">
            <div class="row">
                <div class="col-12 col-md-6 d-flex flex-row align-items-center">
                    <div class="col-12 d-flex flex-row justify-content-center main-font h5">
                        <div class="col-md-8">
                            <p>Текст</p>
                            <a class="btn btn-basic btn-main" data-target="#feedbackModal" data-toggle="ajax-modal">Обратная связь</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 pt-4 pt-md-0">
                    <div><img src="/common/img/svg/map-pointer.svg" class="img-max-width" alt="" /> <span class="main-font h3">Адрес:</span></div>
                    <div class="bg-gradient-revert px-5 pt-3 pb-1 w-100">
                        Адрес
                    </div>
                    <div class="bg-gradient-revert px-5 pt-3 pb-1 w-100">
                        Контакты
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-with-fullscreen-image-wrapper">
        <div class="col-12">
            <div class="container mb-5">
                <div>
                    Текст
                </div>
            </div>
            <div class="image-fullwidth-container">
                <div class="background-wrapper bg-basic">
                    <div class="background" style="background: url(/galleryphotos/nophoto.png) no-repeat; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; -o-background-size: cover;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-with-image-wrapper">
        <div class="col-12">
            <div class="container">
                <div>
                    Текст
                </div>
            </div>
            <div class="image-fullwidth-container">
                <div class="image-wrapper bg-basic">
                    <img class="image" src="data:,"/>
                </div>
            </div>
        </div>
    </div>
</div>