@{
    ViewData["Title"] = "Ошибка 403";
}

<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-12">
            <div class="error-template">
                <h1>
                    Oops!
                </h1>
                <h2>
                    403 Запрещено!
                </h2>
                <div class="error-details">
                    Произошла ошибка, запрашиваемая страница не найдена!
                </div>
                <div class="error-actions">
                    <a href="/Admin/Home/Index" class="btn btn-primary">
                        <span class="glyphicon glyphicon-home"></span>
                        На главную
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>