@{
    ViewData["Title"] = "Баннеры";
    ViewData["NavbarButtons"] = new List<MenuButtonsViewModel> {
        new("Новая запись", "Create", "", "krista-plus")
    };
}

<div class="row">
    <div class="col pb-4">
        <h4 class="h4 font-weight-bold">@ViewData["Title"]</h4>
    </div>
</div>
<div class="col-12 table-responsive">
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Порядок</th>
            <th>Фото</th>
            <th>Заголовок</th>
            <th>Описание</th>
            <th>Ссылка</th>
            <th>Действия</th>
        </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="/media-admin/js/Banner/Index.js" asp-append-version="true" type="text/javascript"></script>
}